### Backend env example

DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=clientnest
POSTGRES_USER=clientnest
POSTGRES_PASSWORD=clientnest
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

CLIENTNEST_CORS_ORIGINS=http://localhost:3000

